@defer (when character){
    <div class="container">
        <div class="card shadow mt-5">
            <div class="card-header bg-primary-subtle">
                <div class="card-title text-center py-2 px-1">
                    <div class="row justify-content-center">
                        <div class="col-10">
                            <h5>{{character.name}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-6">
                    <div class="card-body">
                        <p class="card-text">
                            <strong>Origin: </strong>
                            <span class="text-success">{{character.origin}}</span>
                        </p>
                        <p class="card-text">
                            <strong>Hair: </strong>
                            <span class="text-success">{{character.hair}}</span>
                        </p>
                        <p class="card-text">
                            <strong>Status: </strong>
                            @if(character.gender){
                                <span class="text-success">{{character.status}}</span>
                            }@else {
                            <span class="text-success">Common Human</span>
                            }
                        </p>
                        <p class="card-text">
                            <strong>Species: </strong>
                            <span class="text-success">{{character.species}}</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card-body">
                        <div class="accordion" id="accordionLoc">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAcc" aria-expanded="false" aria-controls="collapseAcc">
                                        Locations
                                    </button>
                                </h2>
                                <div id="collapseAcc" data-bs-parent="#accordionLoc" class="accordion-collapse collapse">
                                    <div class="accordion-body overflow-y-scroll">
                                        <ul>
                                            @for (item of character.abilities; track item) {
                                                <li class="list-group-item small">{{item}}</li>
                                            }
                                        </ul>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center">
                    <img class="img-flid pd-3 rounded-circle" src="{{character.img_url}}" alt="{{character.name}}" >
                </div>
                
            </div>
        </div>
    </div>
}@placeholder (minimum 500ms) {
    <h2 class="text-center text-primary">Cargando ...</h2>
}
