<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a routerLinkActive="active" routerLink="/valorant"class="nav-link px-2 text-body-secondary">Valorant</a></li>
      <li class="nav-item"><a routerLinkActive="active" routerLink="/monsterhunter" class="nav-link px-2 text-body-secondary">Monster Hunter</a></li>
      <li class="nav-item"><a routerLinkActive="active" routerLink="/pokemon" class="nav-link px-2 text-body-secondary">Pokémon</a></li>
      <li class="nav-item"><a routerLinkActive="active" routerLink="/finalspace" class="nav-link px-2 text-body-secondary">Final Space</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 Una web de Nico</p>
  </footer>

