.card{
    padding: 2rem;
}
.row {
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fcb69f, #fbd786, #c9ffbf, #a1c4fd, #ff9a9e);
    background-size: 400% 400%;
    animation: gradientBackground 15s ease-in-out infinite;
  }
  
  @keyframes gradientBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .card:hover {
    cursor: pointer;
  }
  
  .zoom-image {
    border-radius: 100%;
    filter: drop-shadow(0 0 10px rgba(0,0,0, .8));
    transition: transform 0.3s ease; 
  }
  
  .card:hover .zoom-image {
    transform: scale(1.1); 
  }
  