.card {
  padding: 2rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.row {
  margin: 0;
  padding: 0;
  background-image: url('/bg.jpg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.5); 
  box-shadow: 0 4px 15px rgba(158, 22, 22, 0.7); 
  cursor: pointer;
}

.zoom-image {
  border-radius: 100%;
  filter: drop-shadow(0 0 10px rgba(0,0,0, .8));
  transition: transform 0.3s ease; 
}

.card:hover .zoom-image {
  transform: scale(1.1); 
}
#button{
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

}

#button:hover{
  box-shadow: 0 4px 15px rgba(59, 17, 212, 0.7); 
}
