.card{
  padding: 2rem;
}
 
.row {
  margin: 0;
  padding: 0;
  background-image: url('/fs.jpg'); 
}
.card:hover {
  cursor: pointer;
}

.zoom-image {
  border-radius: 100%;
  filter: drop-shadow(0 0 10px rgba(0,0,0, .8));
  transition: transform 0.3s ease; 
}

.card:hover .zoom-image {
  transform: scale(1.1); 
}