#yes {
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  margin-top: 20px; /* Espacio entre la imagen y el texto superior */
}

#yes:hover {
  transform: scale(1.1) rotate(5deg);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7), 0 0 30px rgba(0, 123, 255, 0.6);
}

.card {
  border: none;
  background-color: transparent;
}

.card:hover {
  cursor: pointer;
}

.rotate-image {
  transition: transform 0.6s ease; 
}

.rotate-image:hover {
  transform: rotateY(360deg); 
}

.container-fluid {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fcb69f, #fbd786, #c9ffbf, #a1c4fd, #ff9a9e);
  background-size: 400% 400%;
  animation: gradientBackground 5s ease-in-out infinite;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
