@defer (when apiData) {
  <div class="container-fluid p-0">
    <div class="row">
        @for (poke of apiData.data; track poke.name) {
        <div class="col m-4">
            <div class="card" style="width: 18rem;" [routerLink]="'/pokemon-detail/'+poke.id">
              <img [src]="poke.images.small" [alt]="poke.name" class="card-img-top rotate-image">
            </div>
        </div>
        }
    </div>
  </div>
}
@placeholder (minimum 500ms) {
  <div class="text-center text-bg-dark bg-dark py-5">
    <div class="spinner-border text-light mb-3" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
    <h2>Cargando...</h2>
  </div>
}
